@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f97458;
  margin: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
  width: fit-content;
}

.quiz-page {
  background-color: #e9bcb6;
}

/* header */
.header {
  padding: 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid #333;
}

.header .quiz {
  text-align: center;
}

.header .header-logo {
  font-size: 28px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  width: fit-content;
  margin: 0 auto;
}

/* Hero */

.hero {
  text-align: center;
  margin-top: 10vh;
  padding: 10vh 20vw 5vh;
}

.hero .title-hero {
  font-size: 54px;
  font-weight: 800;
  color: #fff;
}

.hero .sub-hero {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: white;
}

.hero a button {
  margin-top: 20px;
  background-color: white;
  color: #f97458;
  border: 2px solid #ff6f61;
  box-shadow: -6px 6px #c45449;
  padding: 12px 16px;
  min-width: 200px;
  transition: 0.3s;
  font-size: 18px;
  cursor: pointer;
}

.hero a button:hover {
  box-shadow: -2px 4px #c45449;
}

/* Quiz */
.quiz-hero {
  display: flex;
  min-height: 90vh;
  text-align: center;
}

.quiz-hero .quiz-content {
  margin: auto;
  height: auto;
}

p.category {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 7px;
}

.quiz-hero .quiz-content h3 {
  font-size: 28px;
  font-weight: 300;
  max-width: 1000px;
}

.quiz-hero .quiz-content form {
  width: 450px;
  position: relative;
  margin: auto;
}

.quiz-hero .quiz-content form input {
  background: #fff;
  border: 2px solid #000;
  font-family: Brown, sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.quiz-hero .quiz-content form div.btn {
  padding: 0;
  position: absolute;
  right: 5%;
  top: 32.5%;
  background: none;
  border: transparent;
  cursor: pointer;
}
.quiz-hero .quiz-content form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 60px auto 0 auto;
  width: 600px;
}

.quiz-hero .quiz-content form.form {
  width: 1000px;
}
.quiz-hero .quiz-content form .flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
}

.quiz-hero .quiz-content form .all-card {
  display: flex;
  width: 1000px;
  justify-content: center;
}

.quiz-hero .quiz-content form .card {
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  opacity: 0.7;
  padding: 10px;
  width: 100%;
  margin: 0 10px;
  max-width: 130px;
}

.quiz-hero .quiz-content form .card:hover {
  background-color: white;
}
.quiz-hero .quiz-content form .card img {
  width: 50px;
}

.quiz-hero .quiz-content form input.answer {
  align-items: center;
  background: transparent;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: Brown, sans-serif;
  font-size: 17px;
  justify-content: space-around;
  line-height: 27px;
  margin: 10px 10px 10px;
  opacity: 0.7;
  padding: 10px 0;
  text-align: center;
  width: 350px;
}

.quiz-hero .quiz-content form input.answer:hover {
  background-color: white;
}

/* animation */

.item {
  width: 80px;
  position: absolute;
  top: -10%;
  left: 2%;
  transform: rotate(45deg);
}
.black {
  top: -9%;
  left: 1.5%;
}

.animation-logo {
  animation: up-down 2.5s ease-in-out infinite alternate-reverse both;
}

.animation {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.opacity {
  animation: opacity 1s ease-in-out both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Output */

.output-hero {
  padding: 80px 5vw 0;
}
.output-hero .title {
  padding: 0 20vw 0 10vw;
  margin-bottom: 60px;
}
.output-hero .title p.status {
  font-size: 18px;
  font-weight: 300;
}
.output-hero .title p.sub {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  max-width: 600px;
  margin-bottom: 20px;
}
.output-hero .title h1 {
  font-size: 64px;
  margin-top: 20px;
}

.output-hero .title a {
  font-size: 23px;
  font-weight: 300;
  display: flex;
  gap: 20px;
  padding: 14px 28px;
  margin-top: 30px;
  border: 1px solid black;
  background-color: white;
  transition: 0.2s;
}

.output-hero .title a:hover {
  transform: translateY(-20px) scale(105%) translateX(10px);
}

.section {
  margin-bottom: 70px;
}

.section h1 {
  font-size: 44px;
  font-weight: 800;
}

.section.skin .content {
  grid-template-columns: 45% 45%;
}

.content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 20px;
}

.list {
  align-items: center;
  border: 1px solid black;
  display: flex;
  margin: 0 10px;
  justify-content: flex-start;
  padding: 20px 5px;
  width: auto;
  box-shadow: -6px 6px #c45449;
  transition: 0.2s;
}

.list.skin {
  box-shadow: -6px 6px #1c612e;
}

.list.life {
  box-shadow: -6px 6px #c44960;
}

.center {
  justify-content: center;
}

.list:hover {
  transform: translateY(-20px) scale(105%);
}

.list img {
  height: 50px;
  width: 200px;
}
